/*starting animation */
#home{
    animation-name: start;
    animation-duration: 0.8s;
}

@keyframes start {
    from{
        opacity: 0;
        translate: 0 -20px;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}


/*******************/

/*zoom certificate*/
.contain{
    position: relative;
}

.contain .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.705);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    
}

.popup-image span{
    position: absolute;
    top:20px;right: 0;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}


.contain .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border : 5px solid white ; 
    border-radius: 5px;
    width: 50%;
    object-fit: cover;
}
/*******************/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    transition: .2s;
    font-size: 20px;
}

#title {
    font-size: 1.4em;
}


span{
    font-size: small; 
    font-weight: 100;
    font-size: 0.6em;
}

:root{
    --primary-color: #ffffff ; 
    --secondary-color: #212121 ; 
}


.dark-theme{
    --primary-color: #000106 ; 
    --secondary-color: #fff ; 
}

.fa-solid.fa-moon:hover ,.fa-solid.fa-sun:hover {
    transform: rotate(-30deg);
}

.fa-solid.fa-hands:hover{
    transform: rotate(30deg);
}


::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
  }
#projects p::selection{
    color : white ; 
    background: black;
}

#cover{
    width:50%;
}


#cover img{
    user-select: none;

    border : 2px solid var(--secondary-color) ; 
    border-radius: 10% 30% 50% 70%;
    animation-name: cover_anim;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    filter: drop-shadow(30px 0px 150px  var(--secondary-color));
    cursor: pointer;
    transition: .2s;
}

@keyframes cover_anim {
    0% {
        border-radius: 50% 60% 50% 70%;
    }
    25% {
        border-radius: 50% 70% 60% 80%;
    }
    50% {
        border-radius: 70% 60% 90% 60%;
    }
    75% {
        border-radius: 60% 65% 50% 70%;
    }
    100% {
        border-radius: 65% 70% 50% 70%;
    }
}



#cover img:hover{
    transform:scale(1.01);
}

  h1{
    text-align: center;
  }
#navbar{
    background-color: var(--primary-color);
    width: 100%;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    padding-left: 50px;
    padding-right: 50px;
    z-index: 9999;
    /* box-shadow: 0 1px 20px 2px rgb(80, 80, 80); */
}
#btn ul{
    display: flex;
    flex-direction: row;
}
#btn li{
    margin-left: 10px;
    list-style: none;
    color: rgb(252, 252, 252);
    margin-left: 20px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}


#btn a{
    color : var(--secondary-color) ; 
}
#btn a:hover {
    color : gray; 
}


#btn  li:hover{
    cursor: pointer;
    border-bottom: 2px rgb(255, 255, 255);


}

 #home{
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;

}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8% ; 


}

 

#hello{
    text-align: justify;
    width: 50%;
}

#hello h1{
    text-align: left;
    font-size: 2.2em;
}
#hello p {
    font-size: medium;
}





#skills-section{
    padding-top: 50px;
    min-height: 100vh;
    display: flex ;
    flex-direction: column; 
    justify-content: space-evenly;
    background: var(--primary-color);
    color: var(--secondary-color);
}

#skills{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
}

#skill{
    border-radius: 20px;
    border:2px solid rgb(206, 205, 205);
    background-color: var(--primary-color);
    box-shadow: 0 3px 10px #808080;
    height: 10em;
    width:10em;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    transition:.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size:0.6em ; 
    text-align: center;
}
#skill:hover{
    transform: scale(1.02);
    cursor: pointer;
    background: linear-gradient(180deg , var(--primary-color)  80%, rgba(241, 233, 233, 0.473));
}

#skill h3{
    font-size:120%;
}


#project-section{
    padding-top: 50px;
    min-height: 100vh;
    display: flex ;
    flex-direction: column; 
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#projects{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

}

#project{
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 50px 2px gray;
    border : 2px solid white ; 
    border-radius: 20px;
    height: 50vh;
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-align: center;
    padding: 0;
}

#project img{
    top: 0;
    padding: 15px;
    padding: 0;
    height: 100%;
    
}

.center{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

#project p{
    width: 100%;
    height: 50vh;
    top: 0 ;
    text-align: left;
    padding-top: 10%;
    position: absolute;
    padding: 5%;
    color: rgba(255, 255, 255, 0);
    transition: .7s;
    font-weight:bold;
    margin: 0;
    font-size: large;
}

#project p:hover{
    top: 0 ;
    padding-top: 10%;
    position: absolute;
    background-color: var(--primary-color); /* Change 0.5 to your desired opacity value */
    padding: 5%;
    height: 100%;
    color: var(--secondary-color);
    backdrop-filter: blur(1rem);
    cursor: pointer;
    margin: 0;
}

#project a{
    text-decoration: none;
    color: blue;
}
#project a:visited{
    text-decoration: none;
    color: blue;
}
#description{
    padding: 0;
    margin: 0;
}

#description span {
    list-style:circle;
}


#project source{
    top: 0;
    position: absolute;
}



.links {
    position: absolute;
    bottom:0 ;
    right: 0;
    padding-right: 5%;
    padding-bottom: 5%; 
    font-size: 25px;
}





#certification-section{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#certifications{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


#certification{
    margin: 20px;
    min-height: 50vh;
    max-height: 70cap;
    max-width: 50vh;
    overflow: hidden;
    border : 2px solid white ; 
    border-radius: 20px;
    box-shadow: 0 0 50px 2px gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
#certification:hover{
    transform: translate(0,-5px);
}
#certification img{
    width: 10em;
}





#last-section{
    background-color: var(--secondary-color);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background : linear-gradient(360deg,rgb(172, 167, 167) 80%,var(--primary-color))  ;

}
#contact{
    margin-left: 10px;
    margin-right: 10px;
}
#contact a{
    margin: 20px;
    cursor: pointer;
    color : var(--secondary-color) ; 
}
#contact{
    color  : black ; 
}

#contact .facebook:hover{
    color: blue;
}
#contact .cv:hover{
    color: rgb(0, 255, 136);
}
#contact .github:hover{
    color: purple;
}
#contact .linkedin:hover{
    color: rgb(0, 102, 255);
}









@media screen and (max-width: 800px) {
    #cover{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        width: 100%;
    }
    #navbar{
        width: 100%;
        position: fixed; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        z-index: 9999;
        /* box-shadow: 0 1px 20px 2px rgb(80, 80, 80); */
    }
    #btn ul{
        display: flex;
        flex-direction: row;
    }
    #btn li{
        margin-left: 10px;
        list-style: none;
        color: rgb(252, 252, 252);
        margin-left: 10px;
        margin-bottom: 2px;
        padding-bottom: 2px;
    }
    
    
    #btn a{
        font-size: small;
    }
    #btn a:hover {
        color : gray; 
    }
    
    
    #btn  li:hover{
        cursor: pointer;
        border-bottom: 2px rgb(255, 255, 255);
    
    
    }
    



    /*  */

    .popup-image span{
    top: 20px;right: 0;
    }
   
    #title{
        font-size: 1.4em;
    }
    #title i{
        font-size: 1em;
    }
    
    #navbar h1{
        font-size: medium;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
   
    *{
        padding: 0;
    }
    #home{
        padding: 100px 0;
    }

    .container{
        flex-direction: column; 
        margin: 0;
    }
    #hello{
        margin-bottom: 80px;
        padding: 0;
        width: 100%;
    }
    #hello h1{
        font-size: 1.2em;
    }
    #hello h3 {
        font-size: 0.9em;
    }
    #hello p{
        font-size:10px;
    }
    
    #skills-section{
        padding-top: 20%;
    }
    #skill{
        width: 10em;
        align-items: center;
        overflow: hidden;
        margin: 10px;
        padding: 10px;
        height: 100px;
        font-size: 0.6em;
    }
    #project-section{
        padding-top: 20%;
    }
   
    #project{
        flex-basis: 80%;    
    }
    
    .contain .popup-image img{
        width: 80%;
    }
    .popup-image span{
        top:40px;right: 0;
    }
    

}


@media (min-width: 1440px) {
    
    #hello p {
        font-size: medium;
    }
    #project p{       
        font-size: 1em;
    }
}





.website-counter-container{
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0 ;   
    pointer-events: none;
}


.website-counter-container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0)
}