

/*******************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    transition: .2s;
    font-size: 1.5cqmax;
}
#title{
    font-size: 2.5cqmax;
    color: var(--secondary-color);

}


span{
    font-size: small; 
    font-weight: 100;
    font-size: 1cqmax;
}

:root{
    --primary-color: #ffffff ; 
    --secondary-color: #212121 ; 
}


.dark-theme{
    --primary-color: #000106 ; 
    --secondary-color: #fff ; 
}

.fa-solid.fa-moon:hover ,.fa-solid.fa-sun:hover {
    transform: rotate(-30deg);
}

.fa-solid.fa-hands:hover{
    transform: rotate(30deg);
}


::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
  }
#projects p::selection{
    color : white ; 
    background: black;
}

#cover img{
    border : 2px solid var(--secondary-color) ; 
    border-radius: 50%;
    filter: drop-shadow(30px 0px 150px  var(--secondary-color));
    cursor: pointer;
    transition: .2s;
    width: 20cqmax;
}

#cover img:hover{
    transform:scale(1.01);
}

  h1{
    text-align: center;
  }
#navbar{
    background-color: var(--secondary-color);
    width: 100%;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding-left: 50px;
    padding-right: 50px;
    z-index: 9999;
    box-shadow: 0 1px 20px 2px rgb(80, 80, 80);
}
#btn ul{
    display: flex;
    flex-direction: row;
}
#btn li{
    margin-left: 10px;
    list-style: none;
    color: rgb(252, 252, 252);
    margin-left: 1.2cqmax;
    margin-bottom: 2px;
    padding-bottom: 2px;
}


#btn a{
    color : var(--primary-color) ; 
}
#btn a:hover {
    color : gray; 
}


#btn  li:hover{
    cursor: pointer;
    border-bottom: 2px rgb(255, 255, 255);


}

 #home{
    min-height: 100vmin;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;

}


.container{
    display: flex ; 
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

#hello h1{
    text-align: left;
    font-size: 3cqmax;
}





#skills-section{
    min-height: 100vh;
    display: flex ;
    flex-direction: column; 
    justify-content: space-evenly;
    background: var(--primary-color);
    color: var(--secondary-color);
}

#skills{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
}

#skill{
    border-radius: 20px;
    border:2px solid rgb(206, 205, 205);
    background-color: var(--primary-color);
    box-shadow: 0 3px 10px #808080;
    height: 9cqmax;
    width:9cqmax;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    transition:.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size:1cqmax ; 
    text-align: center;
}
#skill:hover{
    transform: scale(1.02);
    cursor: pointer;
    background: linear-gradient(180deg , var(--primary-color)  80%, rgba(241, 233, 233, 0.473));
}

#skill h3{
    font-size:120%;
}


#project-section{
    min-height: 100vh;
    display: flex ;
    flex-direction: column; 
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#projects{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

}

#project{
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 50px 2px gray;
    border : 2px solid white ; 
    border-radius: 20px;
    height: 50vh;
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-align: center;
    padding: 0;
}

#project img{
    top: 0;
    padding: 15px;
    padding: 0;
    height: 100%;
    
}

.center{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

#project p{
    width: 100%;
    height: 50vh;
    top: 0 ;
    text-align: left;
    padding-top: 10%;
    position: absolute;
    padding: 5%;
    color: rgba(255, 255, 255, 0);
    transition: .7s;
    font-weight:bold;
    margin: 0;
    font-size: 1cqmax;
}

#project p:hover{
    top: 0 ;
    padding-top: 10%;
    position: absolute;
    background-color:  rgba(255, 255, 255, 0.658);
    padding: 5%;
    height: 100%;
    color: black;
    backdrop-filter: blur(1rem);
    cursor: pointer;
    margin: 0;
}

#description{
    padding: 0;
    margin: 0;
}

#description span {
    list-style:circle;
}

#project source{
    top: 0;
    position: absolute;
}


.github {
    position: absolute;
    bottom:0 ;
    right: 0;
    padding-right: 5%;
    padding-bottom: 5%; 
    font-size: 25px;
}



#certification-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#certifications{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


#certification{
    margin: 20px;
    min-height: 50vh;
    max-height: 70cap;
    max-width: 50vh;
    overflow: hidden;
    border : 2px solid white ; 
    border-radius: 20px;
    box-shadow: 0 0 50px 2px gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
#certification:hover{
    transform: translate(0,-5px);
}
#certification img{
    width: 15cqmax;
}





#about-section{
    background-color: var(--secondary-color);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background : linear-gradient(360deg,rgb(172, 167, 167) 80%,var(--primary-color))  ;

}

#contact a{
    margin: 20px;
    cursor: pointer;
    color : var(--secondary-color) ; 
}
#contact{
    color  : var(--secondary-color) ; 
}








@media screen and (max-width: 800px) {
   
    #title{
        font-size: 5cqmax;
    }
    #title i{
        font-size: 5cqmax;
    }
    
    #navbar h1{
        font-size: medium;
    }
    #cover img{
        width: 30cqmax;
    }
    #logo h1{
        color: var(--primary-color);
    }
    #navbar{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
   
    
    .container{
        display: flex ; 
        flex-direction: column;
        align-items: center;
    }
    #home{
        padding: 150px 0;
    }
    #hello{
        margin-bottom: 80px;
    }
    #hello h1{
        font-size: 4.5cqmax;
    }
    #hello h3 {
        font-size: 120%;
    }
    #hello p{
        font-size: 80%;
    }
    
    #skills-section{
        padding-top: 20%;
    }
    #skill{
        width: 20cqmax;
        align-items: center;
        overflow: hidden;
        margin: 10px;
        padding: 10px;
        height: 100px;
        font-size: 1.6cqmax;
    }
    #project-section{
        padding-top: 20%;
    }
   
    #project{
        flex-basis: 80%;    
    }
    #project p{
        font-size: 2.2cqmax;
    }
    span{
        font-size: 1.5cqmax;
    }
    #certification img{
        width: 30cqmax;
    }

}


